body{
    background-color: #ccd8d2;
}
nav{
    border-style: groove;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    height: 10vh;
    text-align: center;
    background-color: #ccd8d2;
}
main{
    height: 90vh;
    display: flex;
}
#cards{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #cdd8ca;
}
#dynamic_content{
    width: 60%;
    background-color: #efddcf;
}
.card{
    width: 80%;
    border-style: groove;
    margin: 10px;
    background-color: #e6beb9;
}
#Look_Up_Baby_Name{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#baby_Name_Header{
    height: 20%;
    width: 100%;
    margin-top: -7px;
    background-color: #ccd8d2;
    border-style: groove;
    text-align: center;
}

#Look_Up_Baby_Name input{
    width: 90%;
    height: 20%;
}
#Look_Up_Baby_Name button{
    width: 90%;
    height:20%;
}
