body{
    background-color: #ccd8d2;
}

header{
    border-style: groove;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    text-align: center;
    background-color: #ccd8d2;
}

#cards{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #cdd8ca;
}
#dynamic_content{
    width: 60%;
    background-color: #efddcf;
}

.card{
    width: 80%;
    border-style: groove;
    margin: 10px;
    background-color: #e6beb9;
}

/*nameGenerateBox*/
.select-gender{
    justify-content: space-evenly;
}

.checkbox{
    padding-left: 1.5rem;
    margin-bottom: 2rem;
}

.checkbox-input{
    transform: scale(1.5);
    margin-right: 1rem;
}

.generate-button, .check-list-button{
    padding: 0 9rem;
}

.button-container{
    background-color: #e6beb9;
}

/*searchNameBox*/
.look-up-button{
    padding: 0 3rem;
}

#baby_name_input{
    margin: 0 auto;
}

img{
    width: 47%;
}

ul{
    width: 50%;
}

li button{
    float: right;
}

